# Ignore common development files and directories
node_modules/
.git/
.vscode/
*.log
tmp/

# Exclude specific files
.env
Dockerfile # Dockerfile is always sent to the daemon regardless of this line, but won't be copied into the image if this line is present.

# Include a specific file within an otherwise ignored directory
!node_modules/package.json