# Here is an example of what the .env file located here should look like:

FRONTEND_DOMAIN = #'http://localhost:5173/'
SECRET_KEY = #'django-insecure-RANDOM LETTERS, NUMBERS AND SYMBOLS HERE'
DEBUG = # 0 or 1
ALLOWED_HOSTS = # a string containing array as follows: '["localhost", "127.0.0.1", "192.168.1.100"]'
CORS_ALLOWED_ORIGINS = # a string containing array as follows: '["http://localhost", "http://127.0.0.1", "http://localhost:5173", "http://192.168.1.100"]'
CSRF_TRUSTED_ORIGINS = # a string containing array as follows: '["http://localhost", "http://127.0.0.1", "http://localhost:5173", "http://192.168.1.101"]'
EMAIL_HOST = # 'example@gmail.com'
EMAIL_PASSWORD = #'obtain the password from 'app passwords' in google'
EMAIL_DEFAULT_FROM = #'Email's subject <Sender>'