:root {
	--color1: #9a0606;
	--color2: #5dd95d;
	--color3: #54a9de;
	--color4: #9ad4d2aa;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
}

/* SCROLLBAR */
::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-track {
	background: #2c2c2c;
	border-radius: 5px;
}

::-webkit-scrollbar-thumb {
	background: #888;
	border: 1px solid transparent;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background: #aaa;
}

/* DEFINE VARIABLES */
.primaryColor {
	color: #9a0606;
}
.secondaryColor {
	color: #5dd95d;
}
.tertiaryColor {
	color: #54a9de;
}

.text-button {
	background: none !important;
	border: none !important;
	/*input has OS specific font-family*/
	cursor: pointer;
}

/* Components */
body:before {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	display: block;
	background: radial-gradient(circle at 50% 75%, var(--color1), var(--color2), var(--color3));
	height: 100%;
	width: 100%;
	opacity: 15%;
	z-index: -1;
	/* animation: gradient 5s ease-in-out infinite alternate;
	background-size: 200% 200%; */
	filter: blur(80px);
}
@keyframes gradient {
	0% {
		background-position: 0% 0%;
	}
	100% {
		background-position: 100% 100%;
	}
}
body {
	background-color: #040404;
	font-family: 'Cairo', Helvetica, Arial, sans-serif !important;
	line-height: 1.5;
	font-weight: 400;
	font-optical-sizing: auto;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transition: background-color 30s ease;
}

footer {
	color: grey !important;
}
